/* Importando o estilo home */
@import url("home.css");

/* Define tamanho e borda dourada para a imagem dos jogos */
#game-img {
    border: 1px solid gold;
}

footer ul li, h1, h2, th, strong{
    color: #F5F5F5;
}
