/* Remove margens e espaçamentos padrão, e define cor de texto padrão */
* {
    margin: 0;
    padding: 0;
    color: #bfbfbf;
} 

/* Define a fonte personalizada usada no site */
/* !important para sobrescrever o Bootstrap */
.zalando-sans-expanded-font {
    font-family: "Zalando Sans Expanded", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 250 !important;
    font-style: normal !important;
}

/* Organiza o site em colunas, define fundo cinza-claro e oculta barra de rolagem */
body {
    background-color: #eaeaea;
    overflow-x: hidden;
    background-color: #1C1F26;
}

/* Muda a cor dos links ao passar o mouse (verde) */
header a:hover {
    color: #75c448;
}

/* Define fundo escuro e texto claro no rodapé */
footer {
    background-color: #494949;
    color: #F5F5F5;
}

/* Define cor laranja para links e textos do rodapé */
footer a, footer li p {
    color: #FF6600;
}

/* Dá cor de fundo, cantos arredondados e espaçamento para as seções */
.section-color {
    background-color: #2D2F37;
}

/* Define cor azul para textos relacionados ao PlayStation */
#psColor {
    color: #0A7AFF;
}

/* Define verde para textos do Xbox */
#xboxColor {
    color: #578300;
}

/* Define roxo para textos do Nintendo */
#nintendoColor {
    color: #4832c7;
}

/* Define laranja para textos do Sega */
#segaColor {
    color: #FF6600;
}
